
.content{
padding-top: 10px;
}

.row {
  display: flex;
  justify-content: space-between;

  mat-form-field{
    width: 100%;
  }
}

.example-form-field {
  flex: 1;
  margin-right: 10px; /* Adjust as needed */
}



.action{
  padding: 0px 25px 20px;
button{
flex: 1;
}
}
