<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="example-spacer">CRUD Operations</span>
    <div class="centered-div">
      <span matBadge="{{numberOfEmployees}}" matBadgeOverlap="false" class="badge text-white">Number Of Employee</span> 
      <!-- <span  matBadgeOverlap="false" class="badge text-white">Number Of Employee  {{numberOfEmployees}}</span> -->
    </div>
    <button mat-icon-button aria-label="Add Employee" (click)="openAddEdditEmployeeForm()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>